<div class="linea-gris"></div> 

<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link font" routerLink="consultar-equipos">Teams</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link font">Unassigned</a>
            </li>
            
        </ul>     
    </div>
    <div class="boton">
          <form class="d-flex">
            <div class="input-group">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                    placeholder="Search...">
            </div>
        </form>
    </div>
</nav>

<div class="linea-gris-delgadita"></div> 

<div class="table-container">
    <table class="table-style">
        <!-- <tr class="approved-by-small">approved by: </tr> -->
        <tr class="employee-name-row" *ngFor="let unassigned of getUnassigned() | filter:searchText">
            <td class="employee-name">{{ unassigned.employee_name }}</td>
            <td>
                <a class="nav-link view-team" [routerLink]="['/unassigned-team',unassigned.id_employee]" (click)="fireEvent($event)" >Add team</a>
            </td>
        </tr>
    </table>
</div>
