<div class="pop">
    <div class="up">
        <!-- aqui tenemos que poner los nombres de los que se va a borrar
        <h2>{{fileUploadForm['get']('myfile').name}}</h2> -->
        <h2 class="poptext font"> You are about to upload the 360 Evaluation file.</h2>   
        <h2 class="poptext3 font">This step is final and irreversible!</h2>
        <h2 class="poptext2 font">Are you sure you want to do this?</h2>
        <button  class="btn btn-primary font cancel" (click)="closeMe()">
          Cancel
        </button>
        <button  class="btn btn-primary font submit" (click)="onSubmit()" routerLink="consultar-equipos">
            Submit
          </button>
    </div>
    
</div>