.pop{
    position: absolute;
    display: flex;
    justify-self: center;
    width: 45em;
    height: 25.313em;
    left: 22.5em;
    top: 12.5em;

    background: #282C38;
    border: 0.063em solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.938em;
}

.up{
    position: absolute;
    width: 41.125em;
    height: 23.438em;
    left: 1.125em;
    top: 0.938em;

    background: #EEF2FF;
    border: 0.063 solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.938;
}

.poptext{
    position: absolute;
    width: 41.125em;
    height: 10.5em;
    top: 3.125em;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 2.625em;
    text-align: center;

    color: #000000;

}

.poptext2{
    position: absolute;
width: 41.125em;
height: 10.5em;
top: 13.75em;

font-family: 'Roboto';
font-style: italic;
font-weight: 700;
font-size: 1.5em;
line-height: 2.625em;
text-align: center;

color: #000000;

}

.cancel{
    position: absolute;
    width: 200px;
    height: 43px;
    top: 280px;
    left: 40px;

    background: #282C38;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}

.submit{
    position: absolute;
    width: 12.5em;
    height: 2.688em;
    top: 17.5em;
    right: 2.5;
   
    background: rgb(0, 195, 3);
    border:0.063em solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.5em;
}

.poptext3{

    position: absolute;
    width: 41.125em;
    height: 10.5em;
    top: 8.75em;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 2.625em;
    text-align: center;

    color: rgb(186, 0, 0);

}