<div class="grey-page">
    <div class="grey-space"></div>
    <div class="rectangle-top">
        <button class="boton_flecha font" (click)="navigateBack('/consultar-equipos')" routerLink="consultar-equipos">
            <img src="assets/back-arrow.png" height="20"> Teams</button>
        <!-- <a class="anchor-back" routerLink="consultar-equipos" (click)="navigateBack('/consultar-equipos')">
                <img class="back-arrow" src="assets/back-arrow.png" alt="arrow to return to consult teams">
            </a> -->


        <h1 class="employee-name">{{ getEmpName() }}</h1>
    </div>
    <nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCustom">
            <ul class="navbar-nav">
                <li class="nav-item" [ngClass]="getEvaluatorBool() ?'':'active'">
                    <a class="nav-link font" (click)="setEvaluatorBool()">Evaluatees</a>
                </li>
                <li class="nav-item" [ngClass]="getEvaluatorBool() ?'active':''">
                    <a class="nav-link font" (click)="setEvaluatorBool()">Evaluators</a>
                    <div *ngIf="getEvaluatorBool()">
                        <!-- script para set active evaluators en el navbar -->
                    </div>
                </li>
                <td>
                    <button *ngIf="!team?.approved_HR" class="add" (click)="openDialogAdd(getUnassignedEmployeesInProjects(),team?.id)">Add +</button>
                    <!-- <button *ngIf="!getApprovedHR()" class="add" (click)="openDialogAdd(getUnassignedEmployeesInProjects())">Add +</button> -->
                </td>
            </ul>
        </div>
        <div class="boton">
            <form class="d-flex">
                <div class="input-group">
                    <input class="form-control search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                        placeholder="">
                </div>
            </form>
        </div>
    </nav>

    <div class="grey-space"></div>

    <div class="team-approval">
        <div class="table-container">
            <table class="table-style" *ngIf="getEvaluatorBool() == false">
                <tr *ngFor="let member of getMembers() | filter:searchText">
                    <td class="name-spaced-out"> {{ member.employee.employee_name }}</td>
                    <td class="role-spaced-out"> {{ member.role_member_string}}</td>
                    <td>
                        <button *ngIf="!team?.approved_HR" class="trashcan" (click)="openDialog(getEmpName(), member.employee.employee_name, member, id, member.employee.id)"><img
                            class="trashcan" src="assets/trash-image.png"
                            alt="trash can image to delete person."></button>
                        <!-- <button *ngIf="!getApprovedHR()" class="trashcan" (click)="openDialog(getEmpName(), member.employee.employee_name)"><img
                                class="trashcan" src="assets/trash-image.png"
                                alt="trash can image to delete person."></button> -->
                    </td>
                </tr>
            </table>
            <table class="table-style" *ngIf="getEvaluatorBool()">
                <tr *ngFor="let member of getEvaluatorRoles() | filter:searchText">
                    <td class="name-spaced-out"> {{ member.employee.employee_name }}</td>
                    <td class="role-spaced-out">  {{ member.role_member_string}}</td>
                    <td>
                        <button *ngIf="!team?.approved_HR" class="trashcan" (click)="openDialog(getEmpName(), member.employee.employee_name, member, id, member.employee.id)"><img
                            class="trashcan" src="assets/trash-image.png"
                            alt="trash can image to delete person."></button>
                        <!-- <button *ngIf="!getApprovedHR()" class="trashcan" (click)="openDialog(getEmpName(), member.employee.employee_name)"><img
                                class="trashcan" src="assets/trash-image.png"
                                alt="trash can image to delete person."></button> -->
                    </td>
                </tr>
            </table>
            <button *ngIf="!team?.approved_HR" (click)="approve()" routerLink="consultar-equipos" class="approve"> Approve </button>
            <!-- <button *ngIf="!getApprovedHR()" (click)="approve()" routerLink="consultar-equipos" class="approve"> Approve </button> -->
        </div>
    </div>
</div>