<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a  class="navbar-brand"><img src="../assets/logo.png"  height="50" alt=""></a>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item" (click)="navigate('/myprojects')" [ngClass]="myProjects ?'active':''">
                <a class="nav-link font" routerLink="myprojects">My projects</a>
            </li>
            <li class="nav-item" (click)="navigate('/myteam')" [ngClass]="myTeam ?'active':''">
                <a class="nav-link font" routerLink="myteam">My team</a>
            </li>
        </ul>
        <div class="align-user">
                <div class="dropdown mydropdowncss font">
                    <a href="#" class="boton-perfil" data-toggle="dropdown">
                        <div class="username">
                            <h6 class="font">Hello, {{ getName() }}</h6>
                        </div>
                        <img src="../assets/profile-icon.png"  height="60" width="60"><span class="caret"></span>
                    </a> 
                    <ul class="dropdown-menu">
                        <li class="menu">{{ getName() }}</li>
                        <li class="menu"> {{ getEmail() }} </li>
                        <!-- <li class="menu"><a href="#">View profile</a></li> -->
                        <li><hr class="dropdown-divider" /></li>
                        <li><a><button (click)="logout()" class="logout"><img src="../assets/log-out.png"  height="20" width="20">   Log Out</button></a></li>
                    </ul>
                </div> 
        </div>         
    </div>
</nav>