<section class="view-profile" style="background-color: #97d0e8">
    <div class="upload">
    <img [src]="url" title="Profile Picture" height="150px" width="150px" />
    <input type="file" id="img" style="display:none" (change)="onSelect($event)">
    <label for="img">Upload Image</label>
</div>
    <div class="name-email">
        <h1 class="menu">{{ getName() }}</h1>
        <p class="menu"> {{ getEmail() }} </p>
    </div>
    <div style="background-color: #97d0e8">
        <p style="color: #97d0e8">j</p>
    </div>
    <div style="background-color: #97d0e8">
        <p style="color: #97d0e8">j</p>
    </div>
    <div style="background-color: #97d0e8">
        <p style="color: #97d0e8">j</p>
    </div>
    <div style="background-color: #97d0e8">
        <p style="color: #97d0e8">j</p>
    </div>
    <div style="background-color: #97d0e8">
        <p style="color: #97d0e8">j</p>
    </div>
    <div style="background-color: #97d0e8">
        <p style="color: #97d0e8">j</p>
    </div>
    <div style="background-color: #97d0e8">
        <p style="color: #97d0e8">j</p>
    </div>
    <div style="background-color: #97d0e8">
        <p style="color: #97d0e8">j</p>
    </div>
    <div style="background-color: #97d0e8">
        <p style="color: #97d0e8">j</p>
    </div>
</section>