.pop{
    position: absolute;
    width: 720px;
    height: 405px;
    left: 360px;
    top: 200px;

    background: #282C38;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}

.up{
    position: absolute;
    width: 685px;
    height: 375px;
    left: 18px;
    top: 15px;

    background: #EEF2FF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 15px;
}

.poptext{
    position: absolute;
    width: 658px;
    height: 168px;
    top: 30px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    text-align: center;

    color: #000000;

}

.poptext2{
    position: absolute;
width: 658px;
height: 168px;
top: 180px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 42px;
text-align: center;

color: #000000;

}

.cancel{
    position: absolute;
    width: 200px;
    height: 43px;
    top: 300px;
    left: 40px;
   

    background: #282C38;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}

.remove{
    position: absolute;
    width: 200px;
    height: 43px;
    top: 300px;
    right: 40px;
   

    background: red;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}

.motive{
    box-sizing: border-box;

position: absolute;
width: 640px;
height: 140px;
left: 20px;
top: 120px;

background: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 15px;
}

.warning{
    position: absolute;
    width: 658px;
    height: 168px;
    top: 260px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 42px;
    text-align: center;

    color: #000000;
}

.formmotive{
    border: transparent;
    position: absolute;
width: 640px;
height: 140px;
left: 20px;
top: 120px;
}

.count{
    position: absolute;
width: 640px;
height: 140px;
left: 20px;
top: 120px;
}