.pop{
    position: absolute;
    width: 45em;
    height: 25.313em;
    left: 22.5em;
    top: 12.5em;
    background: #282C38;
    border: 0.063em solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.938em;
}

.up{
    position: absolute;
    width: 42.813em;
    height: 23.438em;
    left: 1.125em;
    top: 0.938em;
    background: #EEF2FF;
    border: 0.063em solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.938em;
    overflow-y: scroll;
}

.poptext{
    position: absolute;
    width: 41.125em;
    height: 10.5em;
    top: 3.125em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 2.625em;
    text-align: center;
    color: #000000;
}

.poptext2{
    position: absolute;
    width: 41.125em;
    height: 10.5em;
    top: 11.25em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.875em;
    line-height: 2.625em;
    text-align: center;
    color: #000000;
}

.cancel{
    position: absolute;
    width: 12.5em;
    height: 2.688em;
    top: 17.5em;
    left: 2.5em;
    background: #282C38;
    border: 0.063em solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.5em;
}

.add{
    position: absolute;
    padding-bottom: -2.5em;
    width: 9.375em;
    height: 2.688em;
    left: 16.25em;
    bottom: 1.875em;
    position: relative;
    align-self: center;
    width: 150px;
    height: 43px;
    left: 260px;
    bottom: 30px;
    background: #B3EDA5;
    border: 0.063em solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 0.5em;
    border-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.063em;
    line-height: 1.75em;
    text-align: center;
    margin-top: 2.5em;
    color: #282C38;
}

.prompt {
    padding-top: 1.25em;
    font-family: 'Roboto';
    text-align: center;
    padding-bottom: 0.313em;

}

table tr:nth-child(odd){
    background-color: #D6E0FF;
    color: rgb(0, 0, 0);
    align-self: center;
}

table tr:nth-child(even){
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    align-self: center;
}

.center-table {
    display: flex;
    justify-content: center;
}

table tr {
    line-height: 2.188em;
}

.spacing-checkbox {
    margin-right: 0.625em;
    margin-left: 0.625em;
}

table {
    width: 32.5em;
}

.check-with-label:checked + .label-for-check {
    font-weight: bold;
    color:#306822;
}

.span-container {
    align-content: center;
    padding-right: 0.938em;
    padding-left: 0.938em;
    padding-bottom: 0.625em;
}

.bubble{
    background-color: #d5dfff;
    width: auto + 0.25em;
    height: 0em;
    border-radius: 10px;
    margin: 0.25em;
}