<div class="grey-space"></div>
<div class="rectangle-top">
    <button class="boton_flecha font" (click)="navigateBack('consultar-equipos')" routerLink="consultar-equipos">
        <img src="assets/back-arrow.png" height="20"> unassigned</button>
        <!-- <a class="anchor-back" routerLink="consultar-equipos" (click)="navigateBack('/consultar-equipos')">
            <img class="back-arrow" src="assets/back-arrow.png" alt="arrow to return to consult teams">
        </a> -->
        
    
    <h1 class="employee-name">{{ getName() }}</h1>
</div>

<div class="grey-space"></div>

<div class="team-approval">
    <table class="table-style">
        <tr *ngFor="let member of getMembers()">
            <td class="name-spaced-out"> {{ member }}</td>
            <td>
                <!-- <button  class="trashcan"  (click)="openDialog(getEmpName(), member.employee.employee_name)"><img class="trashcan" src="assets/trash-image.png" alt="trash can image to delete person."></button> -->
            </td>
        </tr>
    </table>
    <a class="anchor-back" routerLink="consultar-equipos" (click)="addTeam()"><button  class="approve"> create team </button></a>
</div>
