.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100vh;
    left: 50%;
}

.approved-rectangle {
    height: 7em;
    left: 0em;
    top: 10.25em;
    background: #282C38;
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.linea {
    padding-bottom: 1%;
    background-color: #F6F6F6;
}


.font{
    font-family: 'Roboto Condensed', sans-serif;
}

.first-check {
    padding-left: 0.625em;
}

h1{
    font-size:425%;
}

.linea-azul{
    padding-bottom: 2%;
    background-color: #27A0D4;
}

.graph{
    position: absolute;
    width: 95%;
    height: 95%;
    left:2.5%;
    top: 25%;
    background: #FFFFFF;
    border-radius: 0.938em;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}