.row-full{
    width: 100%;
    position: relative;
    margin-left: -50vw;
    height: 170vh;
    left: 50%;
}

.approved-rectangle {
    height: 7em;
    left: 0em;
    top: 10.25em;
    background: #282C38;
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.linea {
    padding-bottom: 1%;
    background-color: #F6F6F6;
}


.font{
    font-family: 'Roboto Condensed', sans-serif;
}

.first-check {
    padding-left: 0.625em;
}

h1{
    font-size:425%;
}

.linea-azul{
    padding-bottom: 2%;
    background-color: #27A0D4;
}

.graph{
    justify-content: center;
    width: 90%;
    height: 90%;
    padding-top: 2%;
    padding-left: 10%;
    border-radius: 0.938em;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.show{
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 1em;
    background-color:#27A0D4;
    border-color: #27A0D4;
    color: #F6F6F6;
}

.show:hover{
    color:#ddf4fd;
}