<div>
    <div class="grey-space"></div>
    <div class="partial-container">
        <h2 class="partial-title">
            Approval Unsuccessful
        </h2>
    </div>
    <div class="grey-space"></div>
    <div class="grey">
        <div class="box-container">
            <div class="text-container">
                <p class="font">
                    You were removed from someone else’s team that you had previously approved. 
                </p>
                <p class="font">
                    To continue the evaluation process, review your teams.
                </p>
                <div class="button-container">
                    <button class="review-changes" routerLink="myteam">Review changes</button>
                </div>
            </div>

        </div>

    </div>
</div>