.partial-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    /* line-height: 4.688em; */

    text-align: center;
    padding-top: 1.4%;
}

.partial-container {
    height: 7.25em;
    background-color: #DA6060;
    justify-content: center;
    display: flex;
    vertical-align: center;
}

.grey-space {
    height: 1.25em;
    background-color: #F6F6F6;
    display: flex;
}

.grey {
    background: #F6F6F6;
    height: max-content;
    position: relative;
}

.box-container {
    background-color: #282C38;
    width: 98%;
    align-self: center;
    display: flex;
    vertical-align: center;
    display: flex;
    position: absolute;
    margin-left: 1em;
}

.text-container {
    width: 80%;
    background: #EEF2FF;
    border-radius: 0.625em;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
    vertical-align: center;
    align-self: center;
    justify-self: center;
    margin-left: 8.75em;
}

.font {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.75em;
    text-align: center;
    vertical-align: center;
    margin-top: 3.75em;
    margin-bottom: 3.75em;
}

.review-changes {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.75em;
    text-align: center;
    background-color: #DA6060;
    color: white;
    border: 0;
    border-radius: 3em;
    padding-top: 0.188em;
    padding-bottom: 0.188em;
    margin-bottom: 1.875em;
}

.button-container {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
}