<div>
    <div class="grey-space"></div>
    <div class="partial-container">
        <h2 class="partial-title">
            Partial Approval Successful
        </h2>
    </div>
    <div class="grey-space"></div>
    <div class="grey">
        <div class="box-container">
            <div class="text-container">
                <p class="font">
                    Congratulations, your 360 Evaluation team has been partially approved.
                </p>
                <p class="font">
                    You will be notified when your evaluators and evaluatees approve you in their own team in order for the evaluation process to continue.
                </p>
                <div class="button-container">
                    <button class="view-team" routerLink="/myteam">View my team</button>
                </div>
            </div>

        </div>

    </div>
</div>