.partial-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 4.688em;

    text-align: center;
    padding-top: 1.25em;
}

.partial-container {
    height: 7.25em;
    background-color: #B3EDA5;
    justify-content: center;
    display: flex;
    vertical-align: center;
}

.grey-space {
    height: 1.25em;
    background-color: #F6F6F6;
    display: flex;
}

.grey {
    background: #F6F6F6;
}

.box-container {
    background-color: #282C38;
    width: 98%;
    align-self: center;
    display: flex;
    vertical-align: center;
    display: flex;
    position: absolute;
    margin-left: 1em;
}

.text-container {
    width: 80%;
    background: #EEF2FF;
    border-radius: 0.625em;
    margin-top: 1.875em;
    margin-bottom: 1.875em;
    vertical-align: center;
    align-self: center;
    justify-self: center;
    margin-left: 8.75em;
}

.font {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.75em;
    text-align: center;
    vertical-align: center;
    margin-top: 3.75em;
    margin-bottom: 3.75em;
}