@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.home img{
    width: 100%;
    height: 100vh;
    object-position: center;
    object-fit: cover;
}
.img{
    max-width: 200% !important;
    max-height: 200% !important;
}

.homecontent{
    position: absolute;
    top: 50%;
    left: 32%;
    display: flex;
}

.logo{
    position: absolute;
    display: flex;
    max-width: 2500% !important;
    max-height: 2500% !important;
    margin-top: -27em;
}

h1{
    color: #000;
    font-size: 100px ;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-light{
   background-color: #73DC4E !important;
   border-color: #73DC4E !important;
   color: #fff !important;
   position: absolute;
   left: 25%;
   font-family: 'Roboto Condensed', sans-serif;
}

@media screen and (max-width: 600px){
    .homecontent h1{
        font-size: 50px;
    }
    .btn-light{
        left: 10%;
    }
}
@media screen and (max-width: 748px){
    .homecontent h1{
        font-size: 70px;
    }
    .btn-light{
        left: 10%;
    }
}
@media screen and (max-width: 524px){
    .homecontent h1{
        font-size: 60px;
    }
    .btn-light{
        left: 5%;
    }
}
@media screen and (max-width: 449.60px){
    .homecontent h1{
        font-size: 40px;
    }
    .btn-light{
        left: 0%;
    }
}

.boton_inicio {
    background-color: #41af45; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
}