<!-- si esta logged in, que se muestre el navbar  -->
<div *ngIf="isLoggedIn()">
    <!-- <app-navbar></app-navbar> -->
    <nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a  class="navbar-brand"><img src="../assets/logo.png"  height="50" alt=""></a>
        <div class="navbar-collapse collapse" id="navbarCustom">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="crear-equipos">Create teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Consult teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
            </ul>
            
            <div class="boton">
                <button (click)="logout()" class="boton_inicio">Log Out</button>
            </div>        
        </div>
    </nav>
    <h3>You are logged in {{ getNameAccount() }} with email {{ getEmailAccount() }}</h3>
    <!-- <button (click)="logout()" class="boton_inicio">Log Out</button> -->
    
    
</div>

<!-- si no esta logged in, que muestre la pagina de ips central sign in -->
<section class="home" *ngIf="!isLoggedIn()">
    <img src="../assets/homeBG.png">
    <div class="homecontent">
        <img class="logo" src="../assets/logo.png"/>
        <div justify-content="center">
            <button (click)="login()" class="boton_inicio"><object type="image/svg+xml" data="https://s3-eu-west-1.amazonaws.com/cdn-testing.web.bas.ac.uk/scratch/bas-style-kit/ms-pictogram/ms-pictogram.svg" class="x-icon"></object> Sign in with Microsoft</button>
        </div>
    </div>
    
</section>

<!-- Router View goes here-->
<router-outlet></router-outlet>