<section class="home">
    <img src="../assets/homeBG.png">
    <div class="homecontent">
        <img class="logo" src="../assets/logo.png"/>
        <!--a href="#" class="btn btn-lg btn-light">Comienza Ahora</a-->
        <div class="microsoft"></div><button (click)="login()" *ngIf="!isLoggedIn()" class="boton_inicio">Sign in with Microsoft</button>
        <div *ngIf="isLoggedIn()">
            <h3>You are logged in</h3>
            <button (click)="logout()" *ngIf="isLoggedIn()" class="boton_inicio">Cerrar Sesión</button>
        </div>
        <div *ngIf="!isLoggedIn()">
            <h3>You are NOT logged in</h3>
        </div>
    </div>
    
</section>

<!-- Router View goes here-->
<router-outlet></router-outlet>