@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.home img{
    width: 100%;
    height: 100vh;
    object-position: center;
    object-fit: cover;
}
.img{
    max-width: 200% !important;
    max-height: 200% !important;
}

/*bring to front */
.microsoft{
    max-width: 20% !important;
    max-height: 20% !important;
    background-image: url(../assets/microsoft.png);
    display: flex;
}

.homecontent{
    position: absolute;
    top: 60%;
    left: 32%;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
}

.logo{
    position: absolute;
    display: flex;
    max-width: 180% !important;
    max-height: 180% !important;
    margin-top: -30%;
}

h1{
    color: #000;
    font-size: 100px ;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-light{
   background-color: #fff !important;
   border-color: #73DC4E !important;
   color: #000 !important;
   position: absolute;
   left: 25%;
   font-family: 'Roboto Condensed', sans-serif;
}

.bsk-container {
    margin-top: 15px;
  }

.x-alt {
    color: #777;
}

.x-icon {
    height: 1em;
    width: 1em;
    top: .125em;
    position: relative;
}
table{
    margin-top: -50em;
    list-style-type: none;
}

ul{
    list-style-type: none;
    margin:0;
    padding: 2px;
}  

@media screen and (max-width: 600px){
    .homecontent h1{
        font-size: 50px;
    }
    .btn-light{
        left: 10%;
    }
}
@media screen and (max-width: 748px){
    .homecontent h1{
        font-size: 70px;
    }
    .btn-light{
        left: 10%;
    }
}
@media screen and (max-width: 524px){
    .homecontent h1{
        font-size: 60px;
    }
    .btn-light{
        left: 5%;
    }
}
@media screen and (max-width: 449.60px){
    .homecontent h1{
        font-size: 40px;
    }
    .btn-light{
        left: 0%;
    }
}

.boton_inicio {
    background-color: #fff; /* Green */
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5%;
}