@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

/* change font*/
.font{
    font-family: 'Roboto Condensed', sans-serif;
}

.controls {
    padding-top: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr 2fr;
    gap: .7rem;
    margin-left: 3%;
    margin-top: 1%;
}

label {
    font-size: .8rem;
    justify-self: auto;
    font-family:monospace;
}

input[type='reset'],
.submit {
    width: 5rem;
    justify-self: end;
    border: none;
    border-radius: 30px;
}

input[type='reset'] {
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(177, 20, 20);
    color: white;
    margin-right: 2%;
}

input[type='reset']:hover {
    background-color: rgb(255, 0, 0);
    text-decoration: underline;
}

.submit {
    text-align: center;
    grid-column: 2;
    grid-row: 3;
    color: white;
    background-color: rgb(30, 192, 30);
    margin-right: 2%;
}

.submit:hover {
    background-color: rgb(0, 228, 0);
    text-decoration: underline;
}

.row-full{
    width: 99vw;
    position: relative;
    margin-left: -50vw;
    height: 100vh;
    left: 50%;
}

.crear{
    position: absolute;
    width: 1365px;
    height: 564px;
    left: 40px;
    top: 50px;
    background: #FFFFFF;
    border-radius: 15px;
}

.to-start{
    position: absolute;
    width: 604px;
    height: 185px;
    left: 400px;
    top: 60px;
    background: #8DD2EF;
    border-radius: 15px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.upload{
    position: absolute;
    width: 604px;
    height: 125px;
    left: 400px;
    top: 272px;
    background: #E4E3E3;
    border-radius: 15px;
}

/* botones de reset, upload y elegir archivo estan centrados */
.top{
    margin-top: 2.5em !important;
    margin-left: 2.5em;
}

/*to-start text en medio del cuadrito :p */
.text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button {
    grid-column: 2;
    grid-row: 3;
    color: white;
    background-color: rgb(46, 222, 46);
    margin-right: 2%;
}