<div class="linea-gris"></div> 

<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link font">Evaluators</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font" routerLink="./unassigned">Evaluatees</a>
            </li>
            
        </ul>     
    </div>
    <div class="boton">
          <form class="d-flex">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="">
                <button type="button" class="btn boton_lupa"><img src="../assets/lupa.png"  height="20" alt=""></button>
            </div>
        </form>
    </div>
    
</nav>

<div class="linea-gris"></div> 

<div class="table-container">
    <table class="table-style">
        <!-- lol -->
    </table>
</div>

