<div class="linea-gris"></div> 

<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item" [ngClass]="getEvaluatorBool() ?'':'active'">
                <a class="nav-link font" (click)="setEvaluatorBool()">Evaluatees</a>
            </li>
            <li class="nav-item" [ngClass]="getEvaluatorBool() ?'active':''">
                <a class="nav-link font" (click)="setEvaluatorBool()">Evaluators</a>
            </li>
            
        </ul>     
    </div>
    <!--  ESTO VA ABAJO (click)="openDialogAdd(getUnassignedEmployeesInProjects())" -->
    <td>
        <button *ngIf="!getApprovedEmp()" class="add" (click)="openDialogAdd(getUnassignedEmployeesInProjects(),getEmp(),myTeam.id)">Add +</button>
    </td>
    <div class="boton">
          <form class="d-flex">
            <div class="input-group">
                <input class="form-control search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="">
                <!-- <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search> -->
                <!-- <button type="button" class="btn boton_lupa"><img src="../assets/lupa.png"  height="20" alt="search icon"></button> -->
            </div>
        </form>
    </div>
    
</nav>

<div class="team-approval">
    <div class="table-container">
        <!-- {{getEmp()!.employee_name}} -->
        <table class="table-style" *ngIf="getEvaluatorBool() == false" >
            <tr *ngFor="let member of members | filter:searchText">
                <td [ngClass]="getMemberStatus(member) ?'name-spaced-out':'name-spaced-out-additonDeclined'"> {{ member.employee.employee_name }} </td>
                <td class="role-spaced-out"> {{ member.role_member_string}}</td>
                <td *ngIf="member.status_member != 0" class="status-spaced-out align='right'">{{ member.status_member_string}}</td>
                <td *ngIf="member.status_member == 0">
                    <button  *ngIf="!getApprovedEmp()" class="trashcan" (click)="openDialog(getEmpName(), member.employee.employee_name, member, getEmp())"><img class="trashcan" src="assets/trash-image.png" alt="trash can image to delete person."></button>
                </td>
                
            </tr>
        </table>
        <table class="table-style" *ngIf="getEvaluatorBool()">
            <tr *ngFor="let member of members | filter:searchText">
                <td [ngClass]="getMemberStatus(member) ?'name-spaced-out':'name-spaced-out-additonDeclined'"> {{ member.employee.employee_name }}</td>
                <div *ngIf="member.role_member_string == 'As team'">
                    <td class="role-spaced-out"> As leader</td>
                </div>
                <div *ngIf="member.role_member_string == 'As leader'">
                    <td class="role-spaced-out"> As team</td>
                </div>
                <div *ngIf="member.role_member_string == 'As peer'">
                    <td class="role-spaced-out"> As peer</td>
                </div>
                <div *ngIf="member.role_member_string == 'Added by request'">
                    <td class="role-spaced-out"> Added by request</td>
                </div>
                <div *ngIf="member.role_member_string == undefined">
                    <td class="role-spaced-out"> </td>
                </div>
                <td *ngIf="member.status_member != 0" class="status-spaced-out align='right'">{{ member.status_member_string}}</td>
                <td *ngIf="member.status_member == 0">
                    <button  *ngIf="!getApprovedEmp()" class="trashcan" (click)="openDialog(getEmpName(), member.employee.employee_name, member, getEmp())"><img class="trashcan" src="assets/trash-image.png" alt="trash can image to delete person."></button>
                </td>
            </tr>
        </table>
        
        <div *ngIf="!getApprovedEmp()">
            <button class="approve" routerLink="partial-approval" (click)="approve()"> Approve </button>
        </div>
        
    </div>
</div>

