<div class="linea-gris"></div> 

<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item" [ngClass]="getEvaluatorBool() ?'':'active'">
                <a class="nav-link font" (click)="setEvaluatorBool()">Evaluatees</a>
            </li>
            <li class="nav-item" [ngClass]="getEvaluatorBool() ?'active':''">
                <a class="nav-link font" (click)="setEvaluatorBool()">Evaluators</a>
            </li>
            
        </ul>     
    </div>
    <!--  ESTO VA ABAJO (click)="openDialogAdd(getUnassignedEmployeesInProjects())" -->
    <td>
        <button class="add" (click)="openDialogAdd(getUnassignedEmployeesInProjects())">Add +</button>
    </td>
    <div class="boton">
          <form class="d-flex">
            <div class="input-group">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search...">
                <!-- <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search> -->
                <button type="button" class="btn boton_lupa"><img src="../assets/lupa.png"  height="20" alt="search icon"></button>
            </div>
        </form>
    </div>
    
</nav>

<div class="linea-gris"></div> 

<!-- Parte de hacer que el search funcione , que no funciona lol, lo puse en el div que tiene la clase de
team-approval y sale error en la consola.-->
<!-- *ngIf="searchText === '' || getMembers().toLowerCase().includes(searchText) -->

<div class="team-approval">
    <table class="table-style" *ngIf="getEvaluatorBool() == false" >
        <tr *ngFor="let member of getMembers() | filter:searchText">
            <td class="name-spaced-out"> {{ member.employee.employee_name }}</td>
            <td class="role-spaced-out">As {{ member.role_member_string}}</td>
            <td>
                <button  class="trashcan" (click)="openDialog(getEmpName(), member.employee.employee_name)"><img class="trashcan" src="assets/trash-image.png" alt="trash can image to delete person."></button>
            </td>
        </tr>
    </table>
    <table class="table-style" *ngIf="getEvaluatorBool()">
        <tr *ngFor="let member of getEvaluatorRoles() | filter:searchText">
            <td class="name-spaced-out"> {{ member.employee.employee_name }}</td>
            <td class="role-spaced-out"> As {{ member.role_member_string}}</td>
            <td>
                <!-- <button  class="trashcan"><img class="trashcan" src="assets/trash-image.png" alt="trash can image to delete person."></button> -->
                <button  class="trashcan" (click)="openDialog(getEmpName(), member.employee.employee_name)"><img class="trashcan" src="assets/trash-image.png" alt="trash can image to delete person."></button>
            </td>
        </tr>
    </table>
    <a class="anchor-back" routerLink="partial-approval"><button  class="approve"> Approve </button></a>
</div>

