<div class="search">
    <div class="boton">
        <form class="d-flex">
          <div class="input-group">
            <input class="form-control search2" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="">
          </div>
      </form>
    </div>
</div>

<div class="inbox-container">
    <div class="inb">
        <!-- <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()"> -->
        <table class="mensaje font table-style">
            <tr *ngFor="let r of request | filter:searchText">
                <!-- *ngIf="r.status==1 || r.status==2" -->
                <th class= "pos" >
                    <div class="texto"><img *ngIf= "r.type" src= "../assets/remove.png"><img *ngIf= "!r.type" src= "../assets/add.png"> {{r.title}} </div>
                    <button class="botonInboxApprove" (click)="acceptRequest(r)">Accept</button>
                    <div class="textoMotivo">{{r.motive}}</div>
                    <button class="botonInboxDecline" (click)="declineRequest(r)">Decline</button>
                </th>
            </tr>
        </table>
    </div>
</div>