.boton {
    margin-right: 5%;
    font-family: 'Roboto Condensed', sans-serif;
}

.boton_lupa { 
    background: #FFFFFF;
    border-color: gray;
    border-radius: 10px;
}

.inb{
    position: absolute;
    width: 1407px;
    top: 182px;
    height: max-content;
    padding-bottom: 15px;

    background: #282C38;
    border-radius: 10px;
}

.inbox-container{
    align-content: center;
    justify-content: center;
    display: flex;
}

.search{
    position: absolute;
    width: 355px;
    height: 39px;
    left: 1069px;
    top: 121px;

    background: #FFFFFF;
    border-radius: 10px;
    border-color: black;
    border-width: 150%;
}

.mensaje{
    position: relative;
    height: 300px;
    width: 1300px;
    left: 40px;
    right: 40px;
    top: 10px;
    background: #FFFFFF;
    border-radius: 15px;
}

table tr:nth-child(odd){
    background-color: #D6E0FF;
    color: rgb(0, 0, 0);
    align-self: center;
}

table tr:nth-child(even){
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    align-self: center;
}

.table-style {
    width: 95%;
    justify-self: center;
    font-family: 'Roboto Condensed', sans-serif;
    border-collapse: separate;
    border-spacing: 0 20px;
    /* border-radius: 5%; */
    overflow: hidden;
    background-color: #282C38;
}

.botonInboxApprove{
    position: relative;
    width: 144px;
    height: 40px;
    right: -88%;
    top: -4mm;

    background: #17C03C;
    border-radius: 10px;
    border-color: transparent;
    color: white;
}

.botonInboxDecline{
    position: relative;
    width: 144px;
    height: 40px;
    right: -88%;
    top: -6mm;

    background: #C90808;
    border-radius: 10px;
    border-color: transparent;
    color: white;
}

.texto{
    position: relative;
    left: 2%;
    font-size: 6mm;
    top: 10px;
}

.textoMotivo{
    position: relative;
    left: 2%;
    top: -7mm;
    color: #656565;
    font-size: 4.5mm;
}
