<div class="search">
    <div class="boton">
        <form class="d-flex">
          <div class="input-group">
            <!-- <span><img src="../assets/lupa.png"  height="20" alt=""> </span> -->
            <i class="fa fa-search"></i>
            <input class="form-control search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="">
          </div>
      </form>
    </div>
</div>

<div class="inbox-container">
    <div class="inb">
        <!-- <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()"> -->
        <table class="mensaje font table-style">
            <tr *ngFor="let r of request | filter:searchText">
                <th class= "pos">
                    <div class="texto"><img *ngIf= "r.type" src= "../assets/remove.png"><img *ngIf= "!r.type" src= "../assets/add.png"> {{getTitle(r.id_request)}} </div>
                    <button class="botonInboxApprove">Approve</button>
                    <div class="textoMotivo">{{r.motive}}</div>
                    <button class="botonInboxDecline">Decline</button>
                </th>
            </tr>
        </table>
    </div>
</div>