.boton {
    margin-right: 5%;
    font-family: 'Roboto Condensed', sans-serif;
}

.boton_lupa { 
    background: #FFFFFF;
    border-color: gray;
    border-radius: 0.625em;
    right: 10em;
}

.inb{
    position: absolute;
    width: 87.938em;
    top: 11.375em;
    height: max-content;
    padding-bottom: 0.938em;

    background: #282C38;
    border-radius: 0.625em;
}

.inbox-container{
    align-content: center;
    justify-content: center;
    display: flex;
}

.search{
    position: absolute;
    width: 22.188em;
    height: 2.438em;
    left: 1.213em;
    top: 7.563em;

    background: #FFFFFF;
    border-radius: 0.625em;
    border-color: black;
    border-width: 150%;
}

.mensaje{
    position: relative;
    height: 18.75em;
    width: 81.25em;
    left: 2.5em;
    right: 2.5em;
    top: 0.625em;
    background: #FFFFFF;
    border-radius: 0.938em;
}

table tr:nth-child(odd){
    background-color: #D6E0FF;
    color: rgb(0, 0, 0);
    align-self: center;
}

table tr:nth-child(even){
    background-color: #FFFFFF;
    color: rgb(0, 0, 0);
    align-self: center;
}

.table-style {
    width: 95%;
    justify-self: center;
    font-family: 'Roboto Condensed', sans-serif;
    border-collapse: separate;
    border-spacing: 0 1.25em;
    /* border-radius: 5%; */
    overflow: hidden;
    background-color: #282C38;
}

.botonInboxApprove{
    position: relative;
    width: 9em;
    height: 2.5em;
    right: -88%;
    top: -4mm;

    background: #17C03C;
    border-radius: 0.625em;
    border-color: transparent;
    color: white;
}

.botonInboxDecline{
    position: relative;
    width: 9em;
    height: 2.5em;
    right: -88%;
    top: -6mm;

    background: #C90808;
    border-radius: 0.625em;
    border-color: transparent;
    color: white;
}

.texto{
    position: relative;
    left: 2%;
    font-size: 6mm;
    top: 0.625em;
}

.textoMotivo{
    position: relative;
    left: 2%;
    top: -7mm;
    color: #656565;
    font-size: 4.5mm;
}
