.font {
    color: black;
    font-family: 'Roboto';
    font-size: large;
    font-weight: 900;
}

table tr:nth-child(odd){
    background-color: #EEF2FF;
    color: rgb(0, 0, 0);
}

table tr:nth-child(even){
    background-color: #D6E0FF;
    color: rgb(0, 0, 0);
}

tr {
    width: 100%;
}

.project-container {
    margin-top: 10px;
    width: 96%;
    height: max-content;
    background-color: #282C38;
    align-self: center;
    /* justify-self: center; */
    /* display: flex; */
    margin-left: 2%;
    margin-right: 2%;
    /* padding-bottom: 40px; */
}

.table-container {
    padding-top: 10px;
    align-content: center;
    justify-content: center;
    display: flex;
    padding-bottom: 10px;
    width: 100%;
    /* height: 70px; */
}

table{
    width: 98%;
}

.grey-space {
    height: 20px;
    background-color: #F6F6F6;
}

.myprojects-container {
    height: 100px;
    background-color: #282C38;
    justify-content: center;
    display: flex;
    vertical-align: center;
}

.search-container{
    height: 46px;
    background: #27A0D4;
    justify-content: right;
    display: flex;
    vertical-align: right;
    padding-right: 10px;
    padding-top: 3.25px;
}

.project-title {
    padding-top: 10px;
    font-family: 'Roboto';
    color: white;
    font-weight: 700;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
}

.boton_lupa { 
    background-color: #fff; 
}

.boton {
    right: 10px;
    align-content: flex-end;
    font-family: 'Roboto Condensed', sans-serif;
}

.input-container {
    vertical-align: middle;
    top: 0.5px;
}
