<div class="grey-space"></div>

<!-- <div>
    <div class="myprojects-container">
        <h2 class="project-title">
            My Projects in Inflection Point Systems
        </h2>
    </div>
</div> -->

<div class="search-container">
    <div class="input-container">
        <form class="d-flex col">
            <div class="input-group boton">
                <input class="form-control search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                    placeholder="">
            </div>
        </form>
    </div>
</div>

<div class="project-container">
    <div class="table-container">
        <table>
            <tr class="font" *ngFor=" let project of getProjects() | filter:searchText">
                <td></td>
                <td> {{ project.project_name }}</td>
            </tr>
        </table>
    </div>
</div>

<div>
    <button (click)="refreshHours()">Show/update graphs</button>
</div>

<div class="row">
    <div class="col-sm-6" *ngIf="hasData">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Billable hours</h5>
                <p class="card-text">
                <div class="donut-chart">
                    <canvas baseChart [data]="doughnutChartDataB" [type]="doughnutChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6" *ngIf="hasData">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Non Billable Hours</h5>
                <p class="card-text">
                <div class="donut-chart">
                    <canvas baseChart [data]="doughnutChartDataNB" [type]="doughnutChartType">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>