.font {
    color: black;
    font-family: 'Roboto';
    font-size: large;
    font-weight: 900;
}

table tr:nth-child(odd){
    background-color: #EEF2FF;
    color: rgb(0, 0, 0);
}

table tr:nth-child(even){
    background-color: #D6E0FF;
    color: rgb(0, 0, 0);
}

tr {
    width: 100%;
}

.project-container {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    width: 96%;
    height: max-content;
    background-color: #282C38;
    align-self: center;
    /* justify-self: center; */
    /* display: flex; */
    margin-left: 2%;
    margin-right: 2%;
    /* padding-bottom: 40px; */
}

.table-container {
    margin-top: 1.2%;
    padding-top: 1%;
    align-content: center;
    justify-content: center;
    display: flex;
    padding-bottom: 1%;
    width: 100%;
    /* height: 70px; */
}

table{
    width: 98%;
}

.grey-space {
    height: 1.25em;
    background-color: #F6F6F6;
}

.myprojects-container {
    height: 6.25em;
    background-color: #282C38;
    justify-content: center;
    display: flex;
    vertical-align: center;
}

.search-container{
    height: 2.875em;
    background: #27A0D4;
    justify-content: right;
    display: flex;
    vertical-align: right;
    /* padding-right: 0.625em; */
    padding-top: 0.203em;
}

.project-title {
    padding-top: 0.625em;
    font-family: 'Roboto';
    color: white;
    font-weight: 700;
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 4.688em;
    margin-top: -2.2em;
}

.boton_lupa { 
    background-color: #fff; 
}

.boton {
    right: 76.25em;
    align-content: flex-end;
    font-family: 'Roboto Condensed', sans-serif;
}

.input-container {
    /* vertical-align: middle; */
    top: 0.031em;
}

.donut-chart {
    display: block;
    height: 18.75em;
    width: 18.75em;
    align-self: center;
}

.row {
    margin-left: 0.625em; 
    margin-right: 0.625em;
    margin-bottom: 1.25em !important;
    padding-bottom: 1.875em;
    padding-top: 0.625em;
}

.search{
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    text-indent: 10px;
}