@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

nav {
    display: flex;
}
/* change the background color */
.navbar-custom {
    background-color: #ffffff;
}

/* change font*/
.font{
    font-family: 'Roboto Condensed', sans-serif;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #F827F6;
    padding: 0.8rem 1rem;
    
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: white;
    padding: 1rem 1rem;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link {
    color: #ffffff;
    background-color: #8DD2EF; /* add background-color to active links */
    border-bottom: 0.188em solid white;
}


.navbar-custom .nav-item:hover .nav-link {
    border-bottom: 0.188em solid white;
    color: #ffffff;
}



.navbar-custom {
    background-color: #8DD2EF;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
    
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
    padding: 1rem 3rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

/* boton de logout */
.boton_inicio { 
    background-color: #fff; /* Green */
    border: none;
    color: #000;
    padding: 0.938em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 5%;
}

.boton {
    margin-left: 30%;
}

.username {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10%;
    margin-right: 2%;
    color:#ffffff;
}

.notify-badge{
    position: absolute;
    top:0.775em;
    background:red;
    text-align: center;
    border-radius: 1.875em 1.875em 1.875em 1.875em;
    color:white;
    padding:0.313em 0.75em;
    font-size:0.625em;
}

.boton-perfil{
    padding: 0px;
    margin-top: -10%;
    border-color: transparent;
    background: transparent;
}

.logout{
    border-color: transparent;
    background: transparent;
    position: center;
}

.menu{
    text-align:right;
    margin: 0.313em;
}

.inbox{
    margin-left: 30em;
    left: 25em;
}

.center-buttons {
    display: flex;

}

.disable{
    opacity: 30%;
}
/* 
@media screen and (max-width: 1920px){
    .boton-perfil{
        left: 600px;
        top:-25px;
        border-color: transparent;
        background: transparent;
        position: absolute;
    }
    .mydropdowncss:hover .dropdown-menu {
        display: block;
        margin-top: 35px;
        background-color:lightgray; 
        margin-left: 500px;
        position: absolute;
        left: 10px;
    }
     .align-user {
        display: flex;
        position:relative;
        margin-left: -5em;
    }
}

@media screen and (max-width: 1300px){
    .boton-perfil{
        left: 600px;
        top:-25px;
        border-color: transparent;
        background: transparent;
        position: absolute;
    }
    .mydropdowncss:hover .dropdown-menu {
        display: block;
        margin-top: 35px;
        background-color:lightgray; 
        margin-left: 500px;
        position: absolute;
        left: 10px;
    }
     .align-user {
        display: flex;
        position:relative;
        margin-left: -7em;
    }
}

@media screen and (max-width: 1279px){
    .boton-perfil{
        left: 600px;
        top:-25px;
        border-color: transparent;
        background: transparent;
        position: absolute;
    }
    .mydropdowncss:hover .dropdown-menu {
        display: block;
        margin-top: 35px;
        background-color:lightgray; 
        margin-left: 500px;
        position: absolute;
        left: 10px;
    }
     .align-user {
        display: flex;
        position:relative;
        margin-left: -10em;
    }
}

@media screen and (max-width: 1247px){
    .boton-perfil{
        left: 600px;
        top:-25px;
        border-color: transparent;
        background: transparent;
        position: absolute;
    }
    .mydropdowncss:hover .dropdown-menu {
        display: block;
        margin-top: 35px;
        background-color:lightgray; 
        margin-left: 500px;
        position: absolute;
        left: 10px;
    }
     .align-user {
        display: flex;
        position:relative;
        margin-left: -10em;
    }
}

@media screen and (max-width: 1205px){
    .boton-perfil{
        left: 600px;
        top:-25px;
        border-color: transparent;
        background: transparent;
        position: absolute;
    }
    .mydropdowncss:hover .dropdown-menu {
        display: block;
        margin-top: 35px;
        background-color:lightgray; 
        margin-left: 500px;
        position: absolute;
        left: 10px;
    }
     .align-user {
        display: flex;
        position:relative;
        margin-left: -14em;
    }
}

@media screen and (max-width: 1141px){
    .boton-perfil{
        left: 600px;
        top:-25px;
        border-color: transparent;
        background: transparent;
        position: absolute;
    }
    .mydropdowncss:hover .dropdown-menu {
        display: block;
        margin-top: 35px;
        background-color:lightgray; 
        margin-left: 500px;
        position: absolute;
        left: 10px;
    }
     .align-user {
        display: flex;
        position:relative;
        margin-left: -20em;
    }
}

@media screen and (max-width: 1041px){
    .boton-perfil{
        left: 600px;
        top:-25px;
        border-color: transparent;
        background: transparent;
        position: absolute;
    }
    .mydropdowncss:hover .dropdown-menu {
        display: block;
        margin-top: 35px;
        background-color:lightgray; 
        margin-left: 500px;
        position: absolute;
        left: 10px;
    }
     .align-user {
        display: flex;
        position:relative;
        margin-left: -27em;
    }
}

@media screen and (max-width: 928px){
    .boton-perfil{
        left: 600px;
        top:-25px;
        border-color: transparent;
        background: transparent;
        position: absolute;
    }
    .mydropdowncss:hover .dropdown-menu {
        display: block;
        margin-top: 35px;
        background-color:lightgray; 
        margin-left: 500px;
        position: absolute;
        left: 10px;
    }
     .align-user {
        display: flex;
        position:relative;
        margin-left: -35em;
    }
} */

.boton-perfil{
    left: 48em;
    top:-1.563em;
    border-color: transparent;
    background: transparent;
    /* position: absolute; */
}
.mydropdowncss:hover .dropdown-menu {
    display: block;
    /* margin-top: 5px; */
    background-color:lightgray; 
    left: 1%;
}
 .align-user {
    display: flex;
    position:relative;
    /* margin-left: -35em; */
}