<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a  class="navbar-brand"><img src="../assets/logo.png"  height="50" alt=""></a>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="" (click)="navigate('/crear-equipos')"  [ngClass]="getHasUploadApp() ?'':'nav-item active'">
                <a class="nav-link font" routerLink="crear-equipos" [ngClass]="getHasUploadApp() ?'disabled disable':''">Create teams</a>
            </li>
            <!-- <li class="nav-item" (click)="navigate('/crear-equipos')" [ngClass]="createTeams ?'active':''">
                <a class="nav-link font" routerLink="crear-equipos">Create teams</a>
            </li> -->
            <li class="" (click)="navigate('/consultar-equipos')"  [ngClass]="[consultTeams ?'active':'', getHasUploadApp() ?'nav-item':'']">
                <a class="nav-link font" routerLink="consultar-equipos" [ngClass]="getHasUploadApp() ?'':'disabled disable'">Consult teams</a>
            </li>
            <!-- <li class="nav-item" (click)="navigate('/consultar-equipos')" [ngClass]="consultTeams ?'active':''">
                <a class="nav-link font" routerLink="consultar-equipos">Consult teams</a>
            </li> -->
            <li class="" (click)="navigate('/dashboard')" [ngClass]="[dashboard ?'active':'', getHasUploadApp() ?'nav-item':'']">
                <a class="nav-link font" routerLink="dashboard" [ngClass]="getHasUploadApp() ?'':'disabled disable'">Dashboard</a>
            </li>
            <!-- <li class="nav-item" (click)="navigate('/dashboard')" [ngClass]="dashboard ?'active':''">
                <a class="nav-link font" routerLink="dashboard">Dashboard</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="notify-badge">1</span>
                    <span><img src="../assets/envelope.png"  height="40" alt=""></span>
                </a>
            </li> -->
        </ul>
        <!-- <div *ngIf="consultTeams"> Hola Crayola</div>
        <div *ngIf="!consultTeams"> Falso</div> -->
        <div class="inbox" >
            <span class="notify-badge" *ngIf="getHasUploadApp() && getCountRequests()!=0">{{ getCountRequests() }}</span>
            <a routerLink="inbox" (click)="cleanNavbar()" *ngIf="getHasUploadApp()"><span><img src="../assets/envelope.png"  height="40" alt=""></span> </a>
        </div>
        
        <style>
            .mydropdowncss:hover .dropdown-menu {
                display: block;
                top: 47px;
                background-color:lightgray; 
                left: -110px;
                position: absolute;
             }
             
            </style>
            <div class="dropdown mydropdowncss font center-buttons">
                <a class="boton-perfil" data-toggle="dropdown"><img src="../assets/profile-icon.png"  height="60" width="60"><span class="caret"></span></a> 
                <ul class="dropdown-menu">
                    <li class="menu">{{ getName() }}</li>
                    <li class="menu"> {{ getEmail() }} </li>
                    <li class="menu"><a routerLink="view-profile">View profile</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a><button (click)="logout()" class="logout"><img src="../assets/log-out.png"  height="20" width="20">   Log Out</button></a></li>
                </ul>
            </div>     
    </div>
</nav>

 
