<div class="search">
    <div class="boton">
        <form class="d-flex">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="">
              <button type="button" class="btn boton_lupa"><img src="../assets/lupa.png"  height="20" alt=""></button>
          </div>
      </form>
    </div>
</div>

<div class="inb">
    <!-- <form [formGroup]="fileUploadForm" (ngSubmit)="onSubmit()"> -->
    <table class="mensaje font table-style texto">
        <tr *ngFor="let r of request">
            <th>
                {{r.motive}}
            </th>
            <th>
                {{getTitle(r.id_request)}} 
            </th>
        </tr>
    </table>
</div>