<!-- <h1 class="font">{{ getName() }}'s Team</h1>


<tr *ngFor="let memb of getMembers()">
    <td class="font">{{ memb.employee_name }} as peer </td>
</tr> --->
<div class="linea-gris"></div> 

<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link font">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font" routerLink="">Unassiagned</a>
            </li>
            
        </ul>     
    </div>
    <div class="boton">
          <form class="d-flex">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="">
                <button type="button" class="btn boton_lupa"><img src="../assets/lupa.png"  height="20" alt=""></button>
            </div>
        </form>
    </div>
    
</nav>

<div class="linea-gris"></div> 

<div class="approved-rectangle">
    <div class="linea"></div> 
    <div class="approved-by-small font"> approved by:</div>
    <table class="font">
        <tr>
            <th class="space-hr-emp"> HR </th>
            <th class="first-check"> Emp</th>
        </tr>
    </table>
</div>

<div class="linea-gris"></div>

<div class="table-container">
    <table class="table-style">
        <!-- <tr class="approved-by-small">approved by: </tr> -->
        <tr class="employee-name-row" *ngFor="let team of getTeams()">
            <td class="first-check" *ngIf="team.approved_HR"> 
                <img src="assets/palomita-consultar-equipos.png" alt="" width="20" height="20"> 
            </td>
            <td *ngIf="!team.approved_HR">    </td>
            <td class="first-check" *ngIf="team.approved_Emp"> 
                <img src="assets/palomita-consultar-equipos.png" alt="" width="20" height="20"> 
            </td>
            <td  *ngIf="!team.approved_Emp">    </td>
            <td class="employee-name">{{ team.employee?.employee_name }}</td>
    
            <td>
                <a class="nav-link view-team" [routerLink]="['/equipo-individual',team.id_employee]" (click)="fireEvent($event)" >view team</a>
            </td>
        </tr>
    </table>
</div>
