<div class="linea-gris"></div> 

<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #27A0D4;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link font">Teams</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font" routerLink="./unassigned">Unassigned</a>
            </li>
            
        </ul>     
    </div>
    <div class="boton">
          <form class="d-flex">
            <div class="input-group">
                <input class="form-control search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                    placeholder="">
            </div>
        </form>
    </div>
    
</nav>

<div class="linea-gris"></div> 

<div class="approved-rectangle">
    <div class="linea"></div> 
    <div class="approved-by-small font"> Approved by</div>
    <!-- <table class="font">
        <tr>
            <th class="space-hr-emp"> HR </th>
            <th class="space-emp"> Emp</th>
        </tr>
        <tr>
            <th>
                <img src="assets/star.png" alt="" width="20" height="20">
            </th>
            <th>
                <img src="assets/circle.png" alt="" width="20" height="20">
            </th>
        </tr> -->
    <!-- </table> -->
</div>

<div class="linea-gris-delgadita"></div> 

<div class="table-container">
    <table class="table-style">
        <!-- <tr class="approved-by-small">approved by: </tr> -->
        <tr class="employee-name-row" *ngFor="let emp of getEmployees() | filter:searchText">
            <td class="first-check" *ngIf="emp.approved_HR"> 
                <img src="assets/palomita-consultar-equipos.png" alt="" width="35" height="30"> 
            </td>
            <td class="HR" *ngIf="!emp.approved_HR">
                <img src="assets/HR.png" class="HR" alt="" width="50" height="50">
            </td>
            <td class="first-check" *ngIf="emp.approved_Emp"> 
                <img src="assets/palomita-consultar-equipos.png" alt="" width= "35" height="30"> 
            </td>
            <td class="EMP" *ngIf="!emp.approved_Emp">
                <img src="assets/EMP.png" class="EMP" alt="" width="50" height="50">
            </td>
            <td class="employee-name">{{ emp.employee!.employee_name }}</td>
    
            <td>
                <a class="nav-link view-team" [routerLink]="['/equipo-individual',emp.id_employee]" (click)="fireEvent($event)" >View team</a>
            </td>
        </tr>
    </table>
</div>
