<div>
    <div class="grey-space"></div>
    <div class="partial-container">
        <h2 class="partial-title">
            Approval Successful
        </h2>
    </div>
    <div class="grey-space"></div>
    <div class="grey">
        <div class="box-container">
            <div class="text-container">
                <p class="font">
                    Congratulations, your 360 Evaluation teams have been formally approved. 
                </p>
                <p class="font">
                    Contact the HR team to continue with the evaluation process.
                </p>
                <div class="button-container">
                    <button class="view-team" routerLink="/myteam">View my team</button>
                </div>
            </div>

        </div>

    </div>
</div>